<form action="/names" method="post">
<input type="text" name="player1_name">
<input type="text" name="player2_name">
<input type="submit" value="Submit">
</form>


  <!-- #make the form point to a specific route
  and to use a post request. So we are pointing
  the index.erb form action to a post '/names'route -->
